html {
  font-size: 100%; }

  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;


    h1 {
      font-size: 2em;
      margin: 0.67em 0; }

      body {
        margin: 0; }
        
        hr {
          box-sizing: content-box;
          height: 0;
          overflow: visible;
          }
  
          a {
              background-color: transparent; }

              abbr[title] {
                  border-bottom: none;
                  text-decoration: underline;
                  text-decoration: underline dotted;